[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

djangorestframework = "==3.6.4"
"django-rest-framework-mongoengine" = "==3.3.1"
mongoengine = "==0.9"
pymongo = "==2.8"
"django-test-addons" = "*"
"djangorestframework-jwt" = "*"
"django-nose" = "*"
coverage = "*"
"django-extensions" = "*"
django = "==1.9"
"nose-watch" = "*"
celery = "*"